@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  background-color: #fafafa;
}
header {
  position: sticky;
  background-color: #fafafa;
  top: 10px;
  z-index: 3;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  .logo {
    font-size: 1.2rem;
    margin-left: 1rem;
    i {
      margin-left: 0.5rem;
    }
  }
  .hamburguer {
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    font-size: inherit;
    img {
      width: 2rem;
      margin-right: 0.5rem;
    }
  }
}

.desktop {
  display: none;
}
.menu-mobile {
  width: 100%;
  position: fixed;
  z-index: 2;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: all 300ms ease;
  top: -250px;
  ul {
    list-style: none;
    padding-bottom: 1rem;
    li {
      margin-top: 1rem;
    }
  }
}
.open {
  top: 9vh;
}
main {
  width: 100%;
  padding-top: 0.5rem;
  margin-top: 0;
}
.titular {
  text-align: center;
  h1 {
    margin: 2rem;
  }
  h2 {
    margin-top: 3rem;
  }
}
.images {
  padding-top: 1rem;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  img {
    width: 10rem;
    position: relative;
  }
  #uno {
    top: 20px;
    left: 40px;
    z-index: 1;
    transform: rotateZ(-10deg);
  }
  #dos {
    bottom: 30px;
  }
  #tres {
    top: 20px;
    right: 40px;
    z-index: 1;
    transform: rotateZ(10deg);
  }
}
.cards {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
  .card {
    margin-top: 2rem;
    padding: 1.5rem;
    width: 90%;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 10px 10px 5px -2px rgba(224, 224, 224, 1);
    -moz-box-shadow: 10px 10px 5px -2px rgba(224, 224, 224, 1);
    box-shadow: 10px 10px 5px -2px rgba(224, 224, 224, 1);
    img {
      width: 20%;
      margin-right: 0.5rem;
    }
  }
}

.contacto {
  margin-top: 2rem;
  padding-top: 0.5rem;
  display: flex;
  justify-content: center;
  a {
    color: black;
    margin: 1rem;
    i {
      font-size: 1.5rem;
    }
  }
}
@media (min-width: 600px) {
  .hamburguer {
    visibility: hidden;
  }
  .desktop {
    display: flex;
    ul {
      display: flex;
      list-style: none;
      a {
        color: black;
        text-decoration: none;

        &:hover,
        &:active {
          border-bottom: 3px solid rgb(130, 240, 196);
        }
        li {
          margin-right: 1rem;
          margin-left: 1rem;
        }
      }
    }
  }
  .titular {
    .images {
      img {
        width: 30%;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
      }
      #uno:hover {
        transform: rotateZ(10deg);
      }
      #dos:hover {
        transform: rotateZ(2deg);
      }

      #tres:hover {
        transform: rotateZ(-10deg);
      }
    }
  }
  .cards {
    flex-direction: row;
    justify-content: center;
    .card {
      width: 25%;
      height: 25vh;
      margin: 1rem;
    }
  }
}
